@page "/play/{FileName}"
@using EventPi.Abstractions
@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration
@inject VideoStreamingServer _srv
@inject IWebHostingEnv _env
@if (_file != null)
{
    <div style="position: relative; margin:auto">
        <video controls style="object-fit: contains;width:100%">
            <source src="@_file" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    @* <p>
        <a href="@_file" download="@_file">Download Video</a>
    </p> *@
}


@code {

    private string? _file;
    
   

    [Parameter]
    public string? FileName { get; set; }

    [Parameter]
    public string? Stream { get; set; }

    protected override void OnParametersSet()
    {
        if (FileName == null) return;
        
        var dir = _configuration.VideoStorageDir(_env.WwwRoot);
        var fullFile = Path.Combine(dir, FileName);
        if (!File.Exists(fullFile)) return;

        var index = fullFile.IndexOf("wwwroot");
        var url = fullFile.Substring(index + 8).Replace("\\", "/");
        _file = url;

    }

}
